<!-- Barra de navegacion -->
<div class="navigation col-md-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <!-- Header -->
      <div class="navbar-header">
        <a href="#" class="navbar-brand">{{title}}</a>
      </div>

      <!-- Elementos si esta logueado -->
      <ul class="nav navbar-nav" *ngIf="identity">
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-home"></span>
             Inicio
          </a>
        </li>

        <li>
          <a [routerLink]="['/timeline']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-th-list"></span>
             Timeline
          </a>
        </li>

        <li>
          <a [routerLink]="['/gente']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user"></span>
             Gente
          </a>
        </li>

        <li>
          <a [routerLink]="['/mensajes']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-envelope"></span>
             Mensajes
          </a>
        </li>

      </ul>


      <!-- Elementos si no está logueado -->
      <ul class="nav navbar navbar-nav navbar-right" *ngIf="!identity">
        
        <li>
          <!-- Usamos un routerLink para redirigir al Login -->
          <!-- Y si el link está activo que lo marque -->
          <a [routerLink]="['/login']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-log-in"></span>
             Login
          </a>
        </li>

        <li>
          <a [routerLink]="['/registro']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user"></span>
             Registro
          </a>
        </li>
      </ul>


      <!-- Menu de usuario -->
      <ul class="nav navbar navbar-nav navbar-right" *ngIf="identity">
        <li class="avatar">
          <!-- Cargar imagen de usuario -->
          <img src="{{url + 'get-image-user/' +identity.image}}" class="img-responsive center-block"  *ngIf="identity && identity.image">
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{identity.name}} <span class="caret"></span>
          </a>

          <!-- Menu -->
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/perfil/',identity._id]">
                <span class="glyphicon glyphicon-user"></span>
                 Mi Perfil
              </a>
            </li>

             <li>
              <a [routerLink]="['/mis-datos']">
                <span class="glyphicon glyphicon-cog"></span>
                 Mis Datos
              </a>
            </li>

             <li>
              <!-- Los eventos van con parentesis siempre -->
              <a class="pointer" (click)="logout()">
                <span class="glyphicon glyphicon-log-out"></span>
                 Cerrar Sesión
              </a>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </nav>
</div>

<!-- Dependiendo de la ruta, se va a cargar un componente u otro (Por ejemplo Login o Registro, dentro de esta etiqueta) -->
<router-outlet></router-outlet>